<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title translate>Project Hours</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {% include 'styles.html' %}
    <script >
        /**
         * global options
         */
        var appOptions = {auth_cookie_name: '{{auth_cookie_name}}'  };

    </script>

</head>
<body ng-app="finance.projectHours">
{% include 'scripts.html' %}
{% include 'menu.html' %}
<div class="container-fluid ">
    <ng-view></ng-view>
</div>
</body>
</html>